* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-size: initial;
  font-weight: 400;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  color: initial;
  text-decoration: none;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

select {
  appearance: none;
  border: none;
  background: none;
}

input {
  appearance: none;
  background: none;
  border: none;
}